.btn {
  display: inline-flex;
  padding: 20px 30px;

  color: $color-bunker;

  background: $malachite-to-pear;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  box-shadow: 0px 4px 9px 0px rgba($color-default-black, 0.25);

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
